- content_for :stylesheets do
  :css
        .main-min {
          width: 600px;
        }
        .ml28 {
          margin-left: 28px;
        }
        .fleft {
          float: left;
        }
        .pos-rel {
          position: relative;
        }
        .min130 {
          min-width: 130px;
          display: inline-block;
        }
        .mr10 {
          margin-right: 10px;
        }
        .fleft {
          float: left;
        }
        .cost-item-price-block {
          position: absolute;
          text-align: center;
          z-index: 5;
          right: -1.5%;
          top: 10px;
          min-width: 100px;
        }
        .cost-item-price-block span {
          background-color: #f2ddff;
          padding: 1px 10px;
          color: #fff;
          font-size: 40px;
          font-weight: 100;
          display: block;
        }
        .fontf6 {
          color: #f16522;
        }
        .font-bold {
          font-weight: 600;
        }
        .mt5 {
          margin-top: 5px;
        }
        .dis-iblock {
          display: inline-block;
        }
        a {
          text-decoration: none;
          font-family: 'proxima-nova', helvetica;
        }
        .mb12 {
          margin-bottom: 12px;
        }
        .full-width {
          width: 100%;
          float: left;
          position: relative;
        }
        .item-name-content {
          max-width: 410px;
        }
        .actual-h2 {
          font-size: 25px;
          color: #4d4d4d;
          font-weight: 300;
        }
        .mb16 {
          margin-bottom: 16px;
        }
        .font80 {
          color: #808080;
        }
        .mr10 {
          margin-right: 10px;
        }
        .font-bold {
          font-weight: 600;
        }
        .mb22 {
          margin-bottom: 22px;
        }
        .mt20 {
          margin-top: 20px;
        }
        .full99line {
          height: 1px;
          float: left;
          background-color: #e6e6e6;
          width: 100%;
        }
      .main-min {
        width: 600px;
      }
      .ml28 {
        margin-left: 28px;
      }
      .fleft {
        float: left;
      }
      .pos-rel {
        position: relative;
      }
      .min130 {
        min-width: 130px;
        display: inline-block;
      }
      .mr10 {
        margin-right: 10px;
      }
      .fleft {
        float: left;
      }
      .cost-item-price-block {
        position: absolute;
        text-align: center;
        z-index: 5;
        right: -1.5%;
        top: 10px;
        min-width: 100px;
      }
      .cost-item-price-block span {
        background-color: #000000;
        padding: 1px 10px;
        color: #fff;
        font-size: 40px;
        font-weight: 100;
        display: block;
      }
      .fontf6 {
        color: #f16522;
      }
      .font-bold {
        font-weight: 600;
      }
      .mt5 {
        margin-top: 5px;
      }
      .dis-iblock {
        display: inline-block;
      }
      a {
        text-decoration: none;
        font-family: 'proxima-nova', helvetica;
      }
      .mb12 {
        margin-bottom: 12px;
      }
      .full-width {
        width: 100%;
        float: left;
        position: relative;
      }
      .item-name-content {
        max-width: 410px;
      }
      .actual-h2 {
        font-size: 25px;
        color: #4d4d4d;
        font-weight: 300;
      }
      .mb16 {
        margin-bottom: 16px;
      }
      .font80 {
        color: #808080;
      }
      .mr10 {
        margin-right: 10px;
      }
      .font-bold {
        font-weight: 600;
      }
      .mb22 {
        margin-bottom: 22px;
      }
      .mt20 {
        margin-top: 20px;
      }
      .full99line {
        height: 1px;
        float: left;
        background-color: #e6e6e6;
        width: 100%;
      }
      .main-min {
        width: 600px;
      }
      .ml28 {
        margin-left: 28px;
      }
      .fleft {
        float: left;
      }
      .pos-rel {
        position: relative;
      }
      .min130 {
        min-width: 130px;
        display: inline-block;
      }
      .mr10 {
        margin-right: 10px;
      }
      .fleft {
        float: left;
      }
      .cost-item-price-block {
        position: absolute;
        text-align: center;
        z-index: 5;
        top: 10px;
        min-width: 100px;
      }
      .cost-item-price-block span {
        background-color: #f2ddff;
        padding: 1px 10px;
        color: #fff;
        font-size: 40px;
        font-weight: 100;
        display: block;
      }
      .fontf6 {
        color: #f16522;
      }
      .font-bold {
        font-weight: 600;
      }
      .mt5 {
        margin-top: 5px;
      }
      .dis-iblock {
        display: inline-block;
      }
      a {
        text-decoration: none;
        font-family: 'proxima-nova', helvetica;
      }
      .mb12 {
        margin-bottom: 12px;
      }
      .full-width {
        width: 100%;
        float: left;
        position: relative;
      }
      .item-name-content {
        max-width: 410px;
      }
      .actual-h2 {
        font-size: 25px;
        color: #4d4d4d;
        font-weight: 300;
      }
      .mb16 {
        margin-bottom: 16px;
      }
      .font80 {
        color: #808080;
      }
      .mr10 {
        margin-right: 10px;
      }
      .font-bold {
        font-weight: 600;
      }
      .mb22 {
        margin-bottom: 22px;
      }
      .mt20 {
        margin-top: 20px;
      }
      .full99line {
        height: 1px;
        float: left;
        background-color: #e6e6e6;
        width: 100%;
      }
    .main-min {
      width: 600px;
    }
    .ml28 {
      margin-left: 28px;
    }
    .fleft {
      float: left;
    }
    .pos-rel {
      position: relative;
    }
    .min130 {
      min-width: 130px;
      display: inline-block;
    }
    .mr10 {
      margin-right: 10px;
    }
    .fleft {
      float: left;
    }
    .rleft {
      float: right;
    }
    .cost-item-price-block {
      position: absolute;
      text-align: center;
      z-index: 5;
      right: 79.5%;
      top: 10px;
      min-width: 100px;
    }
    .cost-item-price-block span {
      background-color: #fff;
      padding: 1px 10px;
      color: #808080;
      font-size: 40px;
      font-weight: 100;
      display: block;
    }
    .fontf6 {
      color: #f16522;
    }
    .font-bold {
      font-weight: 600;
    }
    .mt5 {
      margin-top: 5px;
    }
    .dis-iblock {
      display: inline-block;
    }
    a {
      text-decoration: none;
      font-family: 'proxima-nova', helvetica;
    }
    .mb12 {
      margin-bottom: 12px;
    }
    .full-width {
      width: 100%;
      float: left;
      position: relative;
    }
    .item-name-content {
      max-width: 410px;
    }
    .actual-h2 {
      font-size: 25px;
      color: #4d4d4d;
      font-weight: 300;
    }
    .mb16 {
      margin-bottom: 16px;
    }
    .font80 {
      color: #808080;
    }
    .mr10 {
      margin-right: 10px;
    }
    .font-bold {
      font-weight: 600;
    }
    .mb22 {
      margin-bottom: 22px;
    }
    .mt20 {
      margin-top: 20px;
    }
    .full99line {
      height: 1px;
      float: left;
      background-color: #e6e6e6;
      width: 100%;
    }
.row
  %hr
  .line
  .col-md-12
    %table.table.table-responsive.image-table
      %thead
        %tr
          %th Job ID
          %th Parent Id
          %th Title
          %th Customer
          %th Schedule
          %th Assigned To
          %th Event Cost

          %th.text-center Actions
      %tbody
        -  @parent_job.each do |job|
          %tr
            %td.user-thumb= job.job_id
            %td.user-thumb= job.parent_id rescue "--"
            %td.user-thumb= job.title
            %td.user-thumb= job.customer.full_name rescue "--"
            %td.user-thumb= job.duration rescue "--"
            %td.user-thumb= job.employee.full_name rescue "--"
            %td.user-thumb= job.total_cost rescue "--"
            %td.text-center
              -#= link_to 'View', admin_job_path(job),class: 'btn btn-primary'
              = link_to 'Edit', edit_admin_event_path(job),class: 'btn btn-primary',remote: true
    %nav.text-center-xs
      %center
        = will_paginate  @parent_job,:page_links => false, renderer: BootstrapPagination::Rails