.row
  .col-md-3.pull-right.margin-bottom
    = @invoice.download_button
    = @invoice.preview_button
    = @invoice.updated_button
.row
  .col-md-6
    .row
      .col-md-12
        .panel.panel-primary{"data-collapsed" => "0"}
          .panel-heading
            .panel-title
              Invoice Information
            .panel-options
              %a{"data-rel" => "collapse", :href => "#"}
                %i.entypo-down-open
              %a{"data-rel" => "reload", :href => "#"}
                %i.entypo-arrows-ccw
          .panel-body{:style => "display: block;"}
            .tab-content
              #tab2-1.tab-pane.active
                .col-md-12
                  %table.table
                    %tr
                      %th Invoicing Month
                      %td= @invoice.formatted_invoicing_month
                    %tr
                      %th Issue Date
                      %td= @invoice.formatted_issue_date
                    %tr
                      %th Due Date
                      %td= @invoice.formatted_due_date
                    %tr
                      %th Total Amount
                      %td= @invoice.formatted_total_amount
  .col-md-6
    = @invoice.recipient_detail
.line
.row
  .col-md-12
    .panel.panel-primary{"data-collapsed" => "0"}
      .panel-heading
        .panel-title
          Invoice Events
        .panel-options
          %a{"data-rel" => "collapse", :href => "#"}
            %i.entypo-down-open
          %a{"data-rel" => "reload", :href => "#"}
            %i.entypo-arrows-ccw
      .panel-body{:style => "display: block;"}
        .tab-content
          #tab2-1.tab-pane.active

            .col-md-12
              %table.table.table-responsive.image-table
                %thead
                  %tr
                    %th Title
                    %th Assigned To
                    %th Start
                    %th Qty
                    %th Rate
                    %th Total
                    %th Status
                    %th.text-center Actions
                %tbody
                  - collection = Event.statuses.keys.map { |w| [w, w.humanize] }
                  - @events.each do |job|
                    %tr
                      %td.user-thumb= job.title
                      %td.user-thumb= job.employee.full_name rescue "--"
                      %td.user-thumb= job.formatted_start_date
                      %td.user-thumb= job.time_diff_in_hours
                      %td.user-thumb= job.formatted_event_cost
                      %td.user-thumb= job.formatted_total_cost
                      %td= best_in_place [:admin , job], :status, :as => :select , url: [:admin,job] , collection: collection,  :ok_button => 'Save', :cancel_button => 'Cancel'
                      %td.text-center
                        = job.edit_link
              %nav.text-center-xs
                %center
                  = render_pagination @events
= render 'backend/admin/invoices/partials/invoice' , hidden: true
.row
  .col-md-3.pull-right.margin-bottom
    = @invoice.download_button
    = @invoice.preview_button
    = @invoice.updated_button