.login-form
  .login-content
    .form-login-error
      = render 'devise/shared/flashes'

    = form_for resource, as: resource_name, url: password_path(resource_name), html: { id: 'form_login' } do |f|
      .form-group
        .input-group
          .input-group-addon
            %i.entypo-user
          = f.email_field :email, required: true, autofocus: true,class:'form-control' ,id:'username',:placeholder => "Email" , label: 'Email'
      .form-group
        = f.button raw("<i class='entypo-login'></i>Send me reset password instructions"), class: "btn btn-primary btn-block btn-login "
    = render "devise/shared/links"