.modal.fade{id: "#{@event.new_record? ? 'new_event' : 'edit_event'}"}
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title #{@event.new_record? ? 'Create Event' : 'Edit Event'}
      .modal-body
        .panel.minimal.minimal-gray
          .panel-heading
            -#.panel-title
              %h4 Create Event
            .panel-options
              %ul.nav.nav-tabs
                %li.active
                  %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#job"} Job
                %li
                  %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#recurrence"} Recurrence
                %li
                  %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#cost-item"} Cost Item

          .panel-body
            .tab-content
              #job.tab-pane.active
                - url = @event.new_record? ? admin_events_path : admin_event_path(@event)
                = simple_form_for [:admin , @event] , url: url , method: (@event.new_record? ? :post : :patch) , class: 'form-horizontal form-groups-bordered validate' , html: {novalidate: "novalidate"} , remote: true do |f|
                  = f.hidden_field :type , value: "Job"
                  .row
                    .col-md-12
                      .form-group
                        %label.control-label{:for => "full_name"} Cutomer
                        = f.select :customer_id, options_for_select(Customer.all.collect { |s| [s.first_name, s.id] }), {prompt: 'Select Customer(s)'} , class: "form-control"
                  .row
                    .col-md-12
                      .form-group
                        %label.control-label{:for => "full_name"} Job Title
                        =f.text_field :title , class: 'form-control' , placeholder: 'Job Title'
                  %hr
                  .row
                    .col-md-12
                      .form-group
                        %label.control-label{:for => "about"} Job Description
                        =f.text_area :description , class: 'form-control autogrow' , rows: "5" ,placeholder: 'Job Description' , style: "overflow: hidden; word-wrap: break-word; resize: horizontal; height: 99px;"
                  %hr
                    .row
                      .col-md-8
                        .form-group
                          %label.control-label{:for => "street"} Street
                          =f.text_field :street , class: 'form-control' , placeholder: 'Enter your street address'
                      .col-md-4
                        .form-group
                          %label.control-label{:for => "door_no"} Contact
                          =f.text_field :contact , class: 'form-control' , placeholder: 'Contact number'
                    .row
                      .col-md-12
                        .form-group
                          %label.control-label{:for => "address_line_2"} Address Line 2
                          =f.text_field :address_line , class: 'form-control' , placeholder: '(Optional) Secondary Address'
                    .row
                      .col-md-6
                        .form-group
                          %label.control-label{:for => "city"} City
                          =f.text_field :city , class: 'form-control' , placeholder: 'Current City'
                      .col-md-6
                        .form-group
                          %label.control-label{:for => "zip"} Zip
                          =f.text_field :zip , class: 'form-control' , placeholder: 'Zip Code'

                  %hr
                  .row
                    .col-md-12
                      .form-group
                        %label.control-label{:for => "full_name"} Assigned To
                        = f.select :employee_id, options_for_select(Employee.all.collect { |s| [s.full_name, s.id] }), {prompt: 'Select Employee(s)'} , class: "form-control"
                  .row
                    .col-md-12
                      .form-group
                        %label.control-label{:for => "full_name"} Schedule Date
                        -#= f.text_field :date_range, class: "form-control input-sm date-range-picker" , style: "position: relative; z-index: 100000;"
                        = f.input :start, value: Date.today, class: 'form-control input-sm start_hidden'
                        = f.input :end, value: Date.today, class: 'form-control input-sm end_hidden'
                  .form-actions.default-padding.pull-right
                    = f.submit "Submit" , class: 'btn btn-success'
                    -#= link_to 'Delete', @event, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }, remote: true unless @event.new_record?
              #recurrence.tab-pane
                %strong Recurrence
              #cost-item.tab-pane
                %strong Cost Item