- content_for :title do
  Dear user, log in to access the admin area!
.form-login-error
  = render 'devise/shared/flashes'

= form_for resource, as: resource_name, url: session_path(resource_name), html: { id: 'form_login' } do |f|
  .form-group
    .input-group
      .input-group-addon
        %i.entypo-user
      = f.text_field :email, required: true, autofocus: true,class:'form-control' ,id:'username',:placeholder => "Email" , label: 'Email'
  .form-group
    .input-group
      .input-group-addon
        %i.entypo-key
      = f.password_field :password, required: true,class:'form-control',id:'password', hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) ,:placeholder => "Password",:autocomplete => "off",label: 'Password'

  .form-group
    = f.button raw("<i class='entypo-login'></i>Login In"), id:'button',class: "btn btn-primary btn-block btn-login "

= render "devise/shared/links"