%ol.breadcrumb.bc-3
  %li
    %a{:href => "#{admin_dashboard_path}"}
      %i.fa-home>
      Home
  %li.active
    %a{:href => "#{admin_customers_path}"} Customers
.row
  .col-md-6.col-sm-6
    %h2 Customers
.row
  .col-md-6.col-sm-6
    %a#add-note.btn.btn-md.btn-primary.btn-icon.icon-left.pull-left{href: "#{new_admin_customer_path}" , style: 'margin-top: 15px !important;'}
      %i.entypo-plus
      New Customer
  .col-md-6.col-sm-6
    .search-form-contaner
      = search_form_for @search , url: search_admin_customers_path , method: :post , class: 'search-form-full' do |f|
        .form-group
          = f.text_field :first_name_cont, class: "form-control", placeholder: "Search..."
          %i.entypo-search
  %br
  %br
  %hr
  .line
  .col-md-12
    %table.table.table-responsive.image-table
      %thead
        %tr
          %th= sort_link @search, :first_name, "Name"
          %th Telephone
          %th Address
          -#%th Due
          -#%th Total
          %th.text-center Actions
      %tbody
        - @customers.each do |customer|
          %tr
            %td
              %aside.user-thumb
                %a{:href => "#"}
                  = image_tag customer.image ,width: '44px', class: 'img-circle'
                  %b.publisher
                    = customer.profile_link
            %td.user-thumb= customer.phone
            %td.user-thumb= customer.full_address
            -#%td= 0.0
            -#%td= 0.0
            %td.text-center
              -#= customer.invoices_link
              = customer.edit_link
              = customer.delete_link
    %nav.text-center-xs
      %center
        = render_pagination @customers