%ol.breadcrumb.bc-3
  %li
    %a{:href => "#{admin_dashboard_path}"}
      %i.fa-home>
      Home
  %li.active
    %a{:href => "#"} Customers
.row
  .col-md-6.col-sm-7
    %h2 Customers
  %br/
  %br/
  .col-md-6.col-sm-5{style: 'margin-top: 20px;'}
  .container{:style => "margin-top:50px"}
    %div{:style => "margin:7px"}
      .col-xs-9
        %a#add-note.btn.btn-primary.btn-lg.btn-icon.icon-left.pull-left{href: "#{new_admin_customer_path}"}
          %i.entypo-user-add
          New Customer

      .col-xs-3.pull-right.form-group
        -#%input.form-control{:placeholder => "Search", :style => "border-radius:0px", :type => "text"}/
        %form.search-form-full{:method => "get", :role => "form"}
          .form-group
            %input#search-input.form-control{:name => "s", :placeholder => "Search...", :type => "text"}/
            %i.entypo-search

    .panel-body{:style => "padding:2px;margin-top: 30px;"}
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Telephone
            %th Address(s)
            -#%th Role
            %th Actions
        %tbody
        - @customers.each do |customer|
          %tr
            %td
              .col-md-3
                = image_tag customer.image ,width: '80px', class: 'img-round'
              .col-md-3{style:'position: absolute; left: 40px;'}
              %br
                %ul.user-details
                  %ul
                    %a{:href => "#"}
                      %i.entypo-user
                      = customer.full_name
                  %ul
                    %a{:href => "#"}
                      %i.entypo-mail
                      = customer.email
            %td
              = customer.phone
            %td
              = customer.city

            -#%td
            -#  = employee.role
            %td
              = link_to 'Edit', edit_admin_customer_path(customer.id),class: 'btn btn-primary'
              =link_to 'Delete',admin_customer_path(customer), class: 'btn btn-primary',:method => :delete, data: {:confirm => "Are you sure?"}

  %nav.text-center-xs
    %center
      = will_paginate @customers,:page_links => false, renderer: BootstrapPagination::Rails