%hr/
%ol.breadcrumb.bc-3
  %li
    %a{:href => "#{admin_dashboard_path}"}
      %i.fa-home>
      Home
  %li.active
    %a{:href => "#{admin_employees_path}"} Employees
.row
  .col-md-6.col-sm-7
    %h2 Employees
  .col-md-6.col-sm-5{style: 'margin-top: 20px;'}
    -#.col-md-3
      %form.search-form-full{:method => "get", :role => "form"}
        .form-group
          %input#search-input.form-control{:name => "s", :placeholder => "Search...", :type => "text"}/
          %i.entypo-search
    %a#add-note.btn.btn-primary.btn-icon.icon-left.pull-right{href: "#{new_admin_employee_path}"}
      %i.entypo-user-add
      New Employee

/ Member Entries
/ Single Member
- Employee.all.each do |employee|
  .member-entry
    %a.member-img{:href => "#{admin_employee_path(employee)}"}
      = image_tag employee.image , class: 'img-rounded'
      %i.entypo-forward
    .member-details
      %h4
        %a{:href => "#{admin_employee_path(employee)}"}= employee.full_name
      / Details with Icons
      .row.info-list
        .col-sm-4
          %i.entypo-briefcase
          Co-Founder at
          %a{:href => "#"} Complete Tech
        .col-sm-4
          %i.entypo-twitter
          %a{:href => "#"} @johnnie
        .col-sm-4
          %i.entypo-facebook
          %a{:href => "#"} fb.me/johnnie
        .clear
        .col-sm-4
          %i.entypo-location
          %a{:href => "#"} Prishtina
        .col-sm-4
          %i.entypo-mail
          %a{:href => "#"}= employee.email
        .col-sm-4
          %i.entypo-linkedin
          %a{:href => "#"} johnkennedy
/ Pager for search results
.row
  .col-md-12
    %ul.pager
      %li
        %a{:href => "#"}
          %i.entypo-left-thin
          Previous
      %li
        %a{:href => "#"}
          Next
          %i.entypo-right-thin