!!! 5
%html.no-js
  = render 'backend/shared/head'

  %body.page-body.page-fade
    = render 'backend/shared/chromeframe'
    = render 'backend/shared/flashes'
    .page-container
      = render 'backend/admin/shared/left_sidebar'
      .main-content
        = render 'backend/shared/header'
        %hr
        = yield
        = render 'backend/shared/footer'
    = render 'backend/shared/javascripts'
