!!! 5
%html.no-js
  = render 'devise/shared/head'

  %body.page-body.login-page.login-form-fall
    = render 'devise/shared/chromeframe'
    = render 'devise/shared/header'
    :javascript
      var baseurl = '';
    = render 'devise/shared/flashes'
    .login-container
      .login-header.login-caret
        .login-content
          %a.logo{:href => "#{root_path}"}
            = image_tag('logo_1.png',class: 'img', width:'130')
          %p.description= yield :title
          .login-progressbar-indicator
            %h3 43%
            %span logging in...
      .login-progressbar
        %div
      .login-form
        .login-content
          = yield

    = render 'devise/shared/footer'

    -# Javascript at the bottom for fast page loading
    = render 'devise/shared/javascripts'
