!!! 5
%html.no-js
  = render 'devise/shared/head'

  %body.page-body.login-page.login-form-fall
    = render 'devise/shared/chromeframe'
    = render 'devise/shared/header'
    = render 'devise/shared/flashes'

    = yield

    = render 'devise/shared/footer'
    = render 'devise/shared/flashes'

    -# Javascript at the bottom for fast page loading
    = render 'devise/shared/javascripts'
