!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Invoices
    = stylesheet_link_tag wicked_pdf_asset_base64('backend.scss')
    -#= stylesheet_link_tag 'backend'
    -#= stylesheet_link_tag "http://#{request.host_with_port}#{asset_path('backend.scss')}" , rel: "stylesheet" , media: "all"
    = wicked_pdf_javascript_include_tag 'backend'

  %body.page-body
    .main-content
      = yield